body {
    background: grey;
}

.App {
text-align: center;
}

h1 {
color: white;
}

.button {
margin-bottom: 20px;
}

.dogImg {
width: auto;
height: 80vh;
}

.video {
margin-right: auto;
margin-left: auto;
}